/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /*height or width applied to whole element, including borders*/
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    /*letter spacing provides 'breathing space' between the letters */
    letter-spacing: 2px;
    color: #252525;
}

/* Header*/
header {
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 1rem;
    /* box-shadow properties- 1st: positive displays shadow on the rights, negative values to the left; 2nd: positve values below element, negative above element; 3rd: blur, dtermines the density*/
    box-shadow: 0 2px 2px #3a3a3a;
    /*makes checkbox display next to h1 logo*/
    display: flex;
    /*add space between elements*/
    justify-content: space-between;
    /* all elements align the same vertically*/
    align-items: baseline;
}

header a {
    text-decoration: none;
    /*inherits color sest in parent: body*/
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 0;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* sets nav position just on bottom of parent element - if set to 0% would position it on top of parent element*/
    top: 100%;
}

/* Nav Toggle : when checkbox is clicked (checked) */
#nav-toggle:checked~nav {
    display: block;
}

/* hides de checkbox, as the label (icon) also toggles the menu*/
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content*/
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /*pushes content down, due to the fixed nav header*/
    margin-top: 47px;
}

/* Hero styles*/
#hero {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center/cover;
}

#cover-text {
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

#reasons {
    margin: 20px auto;
    width: 90%;
}

#reasons h2 {
    margin-bottom: 20px;
    font-size: 280%;
    text-align: center;
}

#reasons hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#benefits-physical>div,
#benefits-mental>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits-physical p,
#benefits-mental p {
    padding-right: 20px;
    padding-left: 20px;
}

/* image of reasons section*/
#circle-cover-bg {
    background: url('../images/reasons-image.webp') no-repeat top center / cover;
    margin-bottom: 20px;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

/* icons are set inside i elements by fontawesome*/
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* Media query: TABLETS & larger (768px and up) */
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        /*so it displays, not hidden and toggled anymore*/
        display: block;
        /*so it is positioned inside header*/
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        /*links in nav display in row, not column*/
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        /*push main content down to accomodate larger header*/
        margin-top: 79px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Reasons section*/
    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical>div,
    #benefits-mental>div {
        width: 75%;
    }

    #benefits-mental>div {
        text-align: end;
        align-self: flex-end;
    }

    #benefits-physical>div {
        text-align: start;
        align-self: flex-start;
    }
}


/* Media query: LAPTOPS & larger (992px and up) */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}


/* Media query: LARGE LAPTOPS & DESKTOPS (1200px and up) */
@media screen and (min-width:1200px) {

    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits>div {
        flex: 1;
    }

    /*to move img to center, give an order attribut of 0, because #benefits-physical in naturally positioned the 1st in row so no need to order it,as in html*/
    #benefits-image {
        order: 0;
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-mental>div {
        align-self: flex-start;
    }

    #benefits-physical>div {
        align-self: flex-end;
    }

}