/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /*height or width applied to whole element, including borders*/
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header*/
header {
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 1rem;
    /* box-shadow properties- 1st: positive displays shadow on the rights, negative values to the left; 2nd: positve values below element, negative above element; 3rd: blur, dtermines the density*/
    box-shadow: 0 2px 2px #3a3a3a;
    /*makes checkbox display next to h1 logo*/
    display: flex;
    /*add space between elements*/
    justify-content: space-between;
    /* all elements align the same vertically*/
    align-items: baseline;
}

header a {
    text-decoration: none;
    /*inherits color sest in parent: body*/
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    /*letter spacing provides 'breathing space' between the letters */
    letter-spacing: 2px;
    color: #252525;
    margin-bottom: 0;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 0;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* sets nav position just on bottom of parent element - if set to 0% would position it on top of parent element*/
    top: 100%;
}

/* Nav Toggle : when checkbox is clicked (checked) */
#nav-toggle:checked~nav {
    display: block;
}

/* hides de checkbox, as the label (icon) also toggles the menu*/
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content*/
main {
    background-color: red;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /*pushes content down, due to the fixed nav header*/
    margin-top: 47px;
}

/* Footer */
footer {
    background-color: aquamarine;
}


/* Media query: TABLETS & lager (768px and up) */
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        /*so it displays, not hidden and toggled anymore*/
        display: block;
        /*so it is positioned inside header*/
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        /*links in nav display in row, not column*/
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        /*push main content down to accomodate larger header*/
        margin-top: 79px;
    }
}